<footer>
    <div class="foot-info">
        <div class="f-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-company">@noblenest private limited</div>
        <div class="f-info-terms"><a href="/privacy">privacy terms</a></div>
    </div>
</footer>